---
const { duracion, titulo, academia} = Astro.props;
---

<li style="margin-left: 1.5em;">
  <span class="bg-info fw-0" style=" padding: 0.1em 1em; border-radius: 30px; font-size: 12px;">{duracion}</span>
  <h6 class="mt-3 fw-2" style="font-size: 18px;">{titulo}</h6>
  <p class="fw-0">{academia}</p>
</li>