---

---

<section id="contacto" class="section after-left-section seccion">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-3">
        <div class="contct-form">
          <div class="sm-title title-form">
            <h4 class="font-alt">¿Qué Necesitas?</h4>
            <hr
              class="separador text-primary border border-primary mb-4 mt-0"
              style="width: 10%"
            />
          </div>
          <form
            action="https://formsubmit.co/jvalderramaduenas@gmail.com"
            method="POST"
          >
            <div class="row">
              <div class="col-md-6">
                <div
                  class="form-group aos-init aos-animate"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre Completo"
                    name="name"
                    id="name"
                    required
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div
                  class="form-group aos-init aos-animate"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="50"
                >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Correo Electrónico"
                    name="email"
                    id="email"
                    required
                  />
                </div>
              </div>
              <div class="col-12">
                <div
                  class="form-group aos-init aos-animate"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="100"
                >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Asunto"
                    name="subject"
                    id="subject"
                    required
                  />
                </div>
              </div>
              <div class="col-12">
                <div
                  class="form-group aos-init"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="150"
                >
                  <textarea
                    rows="4"
                    class="form-control"
                    placeholder="Mensaje"
                    name="comment"
                    id="comment"
                    required
                  ></textarea>
                </div>
              </div>
              <!-- tema del correo -->
              <input type="hidden" name="_template" value="box" />
              <!-- respuesta automática -->
              <input
                type="hidden"
                name="_autoresponse"
                value="Tu solicitud de contacto a sido enviada correctamente, A continuaciónse musestran los datos recibidos."
              />

              <!-- redirigir a la página deagradecimiento -->
              <input
                type="hidden"
                name="_next"
                value="https:/./gracias.html"
              />
              <div
                class="col-12 aos-init"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-delay="200"
              >
                <div class="btn-bar">
                  <button
                    type="submit"
                    class="btn button-primary"
                    style="width: 100%"
                  >
                    Enviar mensaje
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 ml-auto my-3 contacto-col-2">
        <div class="contact-info">
          <div
            class="sm-title aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="1200"
          >
            <h4 class="font-alt">Contacto</h4>
            <hr
              class="separador text-primary border border-primary mb-4 mt-0"
              style="width: 10%"
            />
            <p class="fw-0">
              Formulario exclusivo para contacto profesional.
            </p>
          </div>
          <div
            class="media aos-init aos-animate"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="50"
          >
            <div class="icon">
              <i class="fas fa-map-marked-alt"></i>
            </div>
            <span class="media-body fw-0"
              >Duitama, <br />Boyacá - Colombia</span
            >
          </div>
          <div
            class="media aos-init"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-delay="100"
          >
            <div class="icon">
              <i class="fas fa-at"></i>
            </div>
            <span class="media-body fw-0"
              ><a
                rel="noopener"
                href="mailto: jvalderramaduenas@gmail.com"
                target="_blank"
                >contacto@juanvalderrama.com</a
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>