---
let fechaActual= new Date().getFullYear()

const { copyone, copytwo} = Astro.props;
---

<footer class="bg-info container-fluid">
  <div
    class="d-flex justify-content-between align-items-center py-3 my-0 container footer-flex"
  >
    <div class="col-md-6 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-footer fw-0">© {fechaActual} {copyone} <img class="" role="img" draggable="false" src="https://s.w.org/images/core/emoji/14.0.0/svg/1f525.svg" alt="🔥" width="17" height="17"> {copytwo} Juan Valderrama</span>
    </div>

    <ul
      class="nav col-md-4 justify-content-end list-unstyled d-flex icons-footer"
    >
      <li class="ms-3">
        <a
          rel="noopener"
          href="https://github.com/juanchos0412"
          target="_blank"
        >
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
      <li class="ms-3">
        <a
          rel="noopener"
          href="https://www.linkedin.com/in/jsevalderrama/"
          target="_blank"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>