<section id="portfolio" class="section bg-secondary seccion">
  <div class="container" style="padding: 6em 0 6em">
    <div class="text-center" style="padding-bottom: 4em">
      <h1 class="text-info title-about fw-2">Portafolio</h1>
      <hr
        class="separador text-primary border border-primary mb-4"
        style="width: 10%; margin: auto"
      />
      <p style="width: 50%; margin: auto" class="fw-0">
        Échale un vistazo a algunos de mis últimos trabajos
      </p>
    </div>

    <div class="pb-5 seccion-disabled">
      <ul
        class="tabs-portafolio nav nav-pills text-info justify-content-center"
      >
        <li class="nav-item">
          <a
            rel="noopener"
            href="#"
            class="nav-link fw-1 active"
            aria-current="page"
            >All</a
          >
        </li>
        <li class="nav-item">
          <a rel="noopener" href="#" class="nav-link text-info fw-1"
            >Acerca de</a
          >
        </li>
        <li class="nav-item">
          <a rel="noopener" href="#" class="nav-link text-info fw-1"
            >Servicios</a
          >
        </li>
        <li class="nav-item">
          <a rel="noopener" href="#" class="nav-link text-info fw-1"
            >Portafolio</a
          >
        </li>
        <li class="nav-item">
          <a rel="noopener" href="#" class="nav-link text-info fw-1"
            >Blog</a
          >
        </li>
        <li class="nav-item">
          <a rel="noopener" href="#" class="nav-link text-info fw-1"
            >Contacto</a
          >
        </li>
      </ul>
    </div>

    <div class="row">
      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://app-salonbelleza.netlify.app/"
                  target="_blank"
                  >App Peluquería</a
                >
              </h5>
              <span class="fw-0"
                >Aplicación Web Básica para la creación de citas.</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="m32 0 40.8 460.8L256 512l183.136-51.168L480 0z"
                          fill="#ff5722"
                          data-original="#ff5722"
                        ></path>
                        <path
                          d="M391.52 150.688H176.8l5.12 57.888H386.4l-15.392 173.568L256 414.24l-.096.032-114.944-32.128-8.032-90.784h56.32l4.192 47.104 62.496 16.992.064-.032 62.56-16.992 6.528-73.312H130.624L115.456 94.208H396.512z"
                          fill="#fafafa"
                          data-original="#fafafa"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="m32 0 40.8 460.8L256 512l183.136-51.168L480 0z"
                          fill="#2196f3"
                          data-original="#2196f3"
                        ></path>
                        <path
                          d="m392.768 150.688-5.152 57.888-15.552 173.536L256 414.208l-.096.032-116-32.128-8.096-90.752h56.832l4.224 47.072 63.072 17.024.032-.032 63.168-17.024 8.608-78.432-198.656.544-5.632-53.632 209.056-2.464 4.224-57.408-218.88.608-3.68-53.408h283.648z"
                          fill="#fafafa"
                          data-original="#fafafa"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#ffdf00"
                          d="M0 0h512v512H0z"
                          data-original="#ffdf00"
                        ></path>
                        <path
                          d="M343.934 400.002c10.313 16.839 23.731 29.216 47.462 29.216 19.935 0 32.67-9.964 32.67-23.731 0-16.498-13.084-22.341-35.027-31.939l-12.028-5.161c-34.719-14.791-57.783-33.321-57.783-72.493 0-36.084 27.494-63.553 70.461-63.553 30.59 0 52.582 10.646 68.429 38.522l-37.465 24.056c-8.249-14.791-17.148-20.618-30.964-20.618-14.092 0-23.024 8.94-23.024 20.618 0 14.434 8.94 20.277 29.582 29.217l12.028 5.152c40.879 17.53 63.959 35.401 63.959 75.581 0 43.317-34.028 67.048-79.726 67.048-44.682 0-73.549-21.293-87.674-49.201zm-169.96 4.169c7.558 13.41 14.434 24.747 30.964 24.747 15.807 0 25.779-6.185 25.779-30.232V235.089h48.112v164.246c0 49.818-29.208 72.493-71.843 72.493-38.522 0-60.83-19.936-72.176-43.947z"
                          fill="#000000"
                          data-original="#000000"
                        ></path>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://app-salonbelleza.netlify.app/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/peluqueria.png"
                alt="App peluquería"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://app-salonbelleza.netlify.app/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://maquetado-licktech.netlify.app/"
                  target="_blank"
                  >Sitio web licktech</a
                >
              </h5>
              <span class="fw-0"
                >Sitio web estatico acerca de tecnología.</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="m32 0 40.8 460.8L256 512l183.136-51.168L480 0z"
                          fill="#ff5722"
                          data-original="#ff5722"
                        ></path>
                        <path
                          d="M391.52 150.688H176.8l5.12 57.888H386.4l-15.392 173.568L256 414.24l-.096.032-114.944-32.128-8.032-90.784h56.32l4.192 47.104 62.496 16.992.064-.032 62.56-16.992 6.528-73.312H130.624L115.456 94.208H396.512z"
                          fill="#fafafa"
                          data-original="#fafafa"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="m32 0 40.8 460.8L256 512l183.136-51.168L480 0z"
                          fill="#2196f3"
                          data-original="#2196f3"
                        ></path>
                        <path
                          d="m392.768 150.688-5.152 57.888-15.552 173.536L256 414.208l-.096.032-116-32.128-8.096-90.752h56.832l4.224 47.072 63.072 17.024.032-.032 63.168-17.024 8.608-78.432-198.656.544-5.632-53.632 209.056-2.464 4.224-57.408-218.88.608-3.68-53.408h283.648z"
                          fill="#fafafa"
                          data-original="#fafafa"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#ffdf00"
                          d="M0 0h512v512H0z"
                          data-original="#ffdf00"
                        ></path>
                        <path
                          d="M343.934 400.002c10.313 16.839 23.731 29.216 47.462 29.216 19.935 0 32.67-9.964 32.67-23.731 0-16.498-13.084-22.341-35.027-31.939l-12.028-5.161c-34.719-14.791-57.783-33.321-57.783-72.493 0-36.084 27.494-63.553 70.461-63.553 30.59 0 52.582 10.646 68.429 38.522l-37.465 24.056c-8.249-14.791-17.148-20.618-30.964-20.618-14.092 0-23.024 8.94-23.024 20.618 0 14.434 8.94 20.277 29.582 29.217l12.028 5.152c40.879 17.53 63.959 35.401 63.959 75.581 0 43.317-34.028 67.048-79.726 67.048-44.682 0-73.549-21.293-87.674-49.201zm-169.96 4.169c7.558 13.41 14.434 24.747 30.964 24.747 15.807 0 25.779-6.185 25.779-30.232V235.089h48.112v164.246c0 49.818-29.208 72.493-71.843 72.493-38.522 0-60.83-19.936-72.176-43.947z"
                          fill="#000000"
                          data-original="#000000"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg
                      version="1.1"
                      id="Layer_1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      x="0px"
                      y="0px"
                      viewBox="0 0 100 100"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <style type="text/css">
                        .st0 {
                          fill: #027e9d;
                        }
                        .st1 {
                          fill: #ffffff !important;
                        }
                      </style>
                      <g>
                        <circle class="st0" cx="50" cy="51" r="49" />
                        <path
                          class="st1"
                          d="M62.7,59.2c-2,2.2-4.8,3.3-6.1,3.3c-1.5,0-2.3-0.9-2.5-2.3c-0.1-0.5,0-1.1,0.1-1.6c0.5-3.1,1.6-5.1,1.6-5.6
                                                    c0-0.2-0.1-0.3-0.2-0.3c-1,0-4.4,3.5-4.9,5.8l-0.4,1.9c-0.3,1.3-1.5,2.1-2.4,2.1c-0.4,0-0.7-0.2-0.8-0.7c0-0.2,0-0.4,0-0.6l0.2-1
                                                    c-1.8,1.4-3.8,2.3-4.7,2.3c-1.3,0-2-0.7-2.2-1.7c-0.8,1.1-1.9,1.7-3.1,1.7c-1.5,0-2.9-1-3.6-2.5c-1,1.1-2.2,2.2-3.6,3.1
                                                    c-2.1,1.3-4.4,2.4-7.1,2.4c-2.5,0-4.7-1.3-5.8-2.4c-1.8-1.6-2.7-4.1-3-6.3c-0.9-7,3.4-16.3,10.1-20.3c1.5-0.9,3.2-1.4,4.8-1.4
                                                    c3.2,0,5.6,2.3,5.9,5c0.3,2.5-0.7,4.6-3.4,5.9c-1.4,0.7-2.1,0.7-2.3,0.3c-0.1-0.2-0.1-0.6,0.2-0.8c2.6-2.1,2.6-3.9,2.3-6.4
                                                    c-0.2-1.6-1.2-2.6-2.4-2.6C24.2,36.5,17,47.8,18,56c0.4,3.2,2.4,6.9,6.4,6.9c1.3,0,2.8-0.4,4-1c2.2-1.1,3.5-2,4.7-3.5
                                                    c-0.3-3.8,3-8.6,7.8-8.6c2.1,0,3.8,0.8,4,2.5c0.3,2.1-1.5,2.5-2.2,2.5c-0.6,0-1.5-0.2-1.6-0.7c-0.1-0.6,1.3-0.3,1.1-1.6
                                                    c-0.1-0.8-1-1.1-1.8-1.1c-3,0-4.7,4.2-4.4,6.8c0.1,1.2,0.8,2.4,1.8,2.4c0.9,0,2.2-1.3,2.6-3.1c0.3-1.3,1.5-2.1,2.4-2.1
                                                    c0.5,0,0.8,0.2,0.8,0.7c0,0.2,0,0.4,0,0.6c-0.1,0.5-0.5,2.4-0.5,2.7c0,0.3,0.2,0.8,0.8,0.8c0.5,0,2.1-0.9,3.7-2.3
                                                    c0.5-2.5,1.1-5.6,1.1-5.8c0.2-1,0.6-2.1,2.6-2.1c0.4,0,0.7,0.2,0.8,0.7c0,0.2,0,0.4,0,0.6L51.6,54c1.8-2.4,4.6-4.2,6.3-4.2
                                                    c0.7,0,1.3,0.4,1.4,1.1c0.1,0.4-0.1,1.1-0.3,1.9c-0.6,1.6-1.3,4.1-1.7,6.2c-0.1,0.5,0.1,1.1,0.9,1.1c0.7,0,2.8-0.8,4.5-3.1
                                                    c0-0.3,0-0.6,0-1c0-1.8,0.1-3.2,0.5-4.3c0.3-1.1,1.7-2.1,2.6-2.1c0.5,0,0.8,0.3,0.8,0.8c0,0.2,0,0.4-0.1,0.6c-0.6,1.9-1,3.6-1,5.3
                                                    c0,1,0.2,2.5,0.4,3.3c0,0.2,0.1,0.3,0.3,0.3c0.3,0,2.3-1.9,3.7-4.3c-1.3-0.8-2-2.3-2-4.1c0-3,1.8-4.6,3.6-4.6c1.4,0,2.6,1,2.6,3
                                                    c0,1.3-0.5,2.7-1.2,4.1c0,0,0.3,0,0.4,0c1.1,0,1.9-0.5,2.4-1.1c0.2-0.2,0.4-0.4,0.6-0.5c1.4-1.7,3.5-2.9,5.9-2.9
                                                    c2.1,0,3.8,0.8,4,2.5c0.3,2.1-1.6,2.6-2.2,2.6c-0.6,0-1.6-0.2-1.6-0.7c-0.1-0.5,1.3-0.3,1.2-1.6c-0.1-0.8-1-1.2-1.8-1.2
                                                    c-2.8,0-4.7,3.7-4.4,6.8c0.1,1.2,0.7,2.4,1.8,2.4c0.9,0,2.2-1.3,2.7-3.1c0.3-1.2,1.5-2.1,2.4-2.1c0.4,0,0.8,0.2,0.8,0.7
                                                    c0,0.3-0.1,0.8-0.5,2.8c-0.2,0.8-0.2,1.6-0.2,2.1c0.2,1.2,0.7,2,1.2,2.5c0.2,0.2,0.3,0.4,0.3,0.5c0,0.3-0.2,0.6-0.6,0.6
                                                    c-0.1,0-0.3,0-0.4-0.1c-2.2-0.9-3.1-2.4-3.3-3.7c-0.8,1.1-1.9,1.6-3.1,1.6c-1.9,0-3.8-1.7-4.1-3.9c-0.1-0.9,0-1.9,0.3-2.8
                                                    c-0.8,0.5-1.6,0.8-2.4,0.8c-0.3,0-0.5,0-0.7,0c-1.9,2.7-3.9,4.6-5.4,5.5c-0.6,0.3-1.2,0.5-1.6,0.5c-0.3,0-0.7-0.1-0.9-0.4
                                                    C63.1,61.4,62.8,60.4,62.7,59.2L62.7,59.2z M69.5,50.2c0,1.2,0.6,2.4,1.3,3.2c0.3-0.8,0.5-1.6,0.5-2.4c0-1.5-0.6-2.2-1-2.2
                                                    C69.7,48.8,69.5,49.6,69.5,50.2z"
                        />
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://maquetado-licktech.netlify.app/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/licktech.png"
                alt="App peluquería"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://maquetado-licktech.netlify.app/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://qits.com.co/"
                  target="_blank"
                  >Sito web qits.com.co</a
                >
              </h5>
              <span class="fw-0"
                >Sitio oficial de agencia de marketing digital.</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 447.674 447.674"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zM36.548 223.837c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zM386.833 131.547c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://qits.com.co/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/qits.png"
                alt="Sitio web qits.com.co"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://qits.com.co/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://www.fajaskorly.com.co/"
                  target="_blank"
                  >Tienda virtual Fajas Korly</a
                >
              </h5>
              <span class="fw-0"
                >Tienda de virtual de venta de fajas en Colombia</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 447.674 447.674"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zM36.548 223.837c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zM386.833 131.547c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      height="153px"
                      preserveAspectRatio="xMidYMid"
                      version="1.1"
                      viewBox="0 0 256 153"
                      width="256px"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                    >
                      <g>
                        <path
                          d="M23.7586644,0 L232.137438,0 C245.324643,0 256,10.6753566 256,23.8625617 L256,103.404434 C256,116.591639 245.324643,127.266996 232.137438,127.266996 L157.409942,127.266996 L167.666657,152.385482 L122.558043,127.266996 L23.8633248,127.266996 C10.6761196,127.266996 0.000763038458,116.591639 0.000763038458,103.404434 L0.000763038458,23.8625617 C-0.10389732,10.7800169 10.5714592,0 23.7586644,0 L23.7586644,0 Z"
                          fill="#9B5C8F"
                        />
                        <path
                          d="M14.5781994,21.7495935 C16.0351099,19.7723577 18.2204758,18.7317073 21.1342969,18.5235772 C26.441614,18.1073171 29.4595002,20.604878 30.1879555,26.0162602 C33.4139717,47.7658537 36.9521831,66.1853659 40.6985246,81.2747967 L63.4887685,37.8796748 C65.5700693,33.9252033 68.1716953,31.8439024 71.2936465,31.6357724 C75.8725083,31.3235772 78.6822644,34.2373984 79.8269798,40.3772358 C82.4286059,54.2178862 85.7586872,65.9772358 89.7131587,75.9674797 C92.4188498,49.5349593 96.9977116,30.4910569 103.449744,18.7317073 C105.01072,15.8178862 107.300151,14.3609756 110.318037,14.1528455 C112.711533,13.9447154 114.896899,14.6731707 116.874134,16.2341463 C118.85137,17.795122 119.89202,19.7723577 120.100151,22.1658537 C120.204216,24.0390244 119.89202,25.6 119.0595,27.1609756 C115.000964,34.6536585 111.670882,47.2455285 108.965191,64.7284553 C106.363565,81.6910569 105.42698,94.9073171 106.05137,104.377236 C106.2595,106.978862 105.84324,109.268293 104.80259,111.245528 C103.553809,113.534959 101.680638,114.78374 99.2871424,114.99187 C96.5814514,115.2 93.7716953,113.95122 91.0660042,111.141463 C81.3879555,101.255285 73.6871424,86.4780488 68.0676303,66.8097561 C61.3034026,80.1300813 56.3082807,90.1203252 53.0822644,96.7804878 C46.942427,108.539837 41.739175,114.57561 37.3684433,114.887805 C34.5586872,115.095935 32.1651912,112.702439 30.0838904,107.707317 C24.7765733,94.0747967 19.0529961,67.7463415 12.9131587,28.7219512 C12.4968985,26.0162602 13.1212888,23.6227642 14.5781994,21.7495935 Z M238.213972,38.0878049 C234.46763,31.5317073 228.952183,27.5772358 221.563565,26.0162602 C219.586329,25.6 217.713159,25.3918699 215.944053,25.3918699 C205.953809,25.3918699 197.836736,30.595122 191.488768,41.001626 C186.077386,49.8471545 183.371695,59.6292683 183.371695,70.3479675 C183.371695,78.3609756 185.036736,85.2292683 188.366817,90.9528455 C192.113159,97.5089431 197.628606,101.463415 205.017224,103.02439 C206.99446,103.44065 208.86763,103.64878 210.636736,103.64878 C220.731045,103.64878 228.848118,98.4455285 235.09202,88.0390244 C240.503403,79.0894309 243.209094,69.3073171 243.209094,58.5886179 C243.313159,50.4715447 241.544053,43.7073171 238.213972,38.0878049 Z M225.101777,66.9138211 C223.644866,73.7821138 221.04324,78.8813008 217.192834,82.3154472 C214.174947,85.0211382 211.365191,86.1658537 208.763565,85.6455285 C206.266004,85.1252033 204.184703,82.9398374 202.623728,78.8813008 C201.374947,75.6552846 200.750557,72.4292683 200.750557,69.4113821 C200.750557,66.8097561 200.958687,64.2081301 201.479012,61.8146341 C202.415598,57.5479675 204.184703,53.3853659 206.99446,49.4308943 C210.428606,44.3317073 214.070882,42.2504065 217.817224,42.9788618 C220.314785,43.499187 222.396086,45.6845528 223.957061,49.7430894 C225.205842,52.9691057 225.830232,56.195122 225.830232,59.2130081 C225.830232,61.9186992 225.622102,64.5203252 225.101777,66.9138211 Z M173.069256,38.0878049 C169.322915,31.5317073 163.703403,27.5772358 156.41885,26.0162602 C154.441614,25.6 152.568443,25.3918699 150.799338,25.3918699 C140.809094,25.3918699 132.69202,30.595122 126.344053,41.001626 C120.932671,49.8471545 118.22698,59.6292683 118.22698,70.3479675 C118.22698,78.3609756 119.89202,85.2292683 123.222102,90.9528455 C126.968443,97.5089431 132.48389,101.463415 139.872508,103.02439 C141.849744,103.44065 143.722915,103.64878 145.49202,103.64878 C155.586329,103.64878 163.703403,98.4455285 169.947305,88.0390244 C175.358687,79.0894309 178.064378,69.3073171 178.064378,58.5886179 C178.064378,50.4715447 176.399338,43.7073171 173.069256,38.0878049 Z M159.852996,66.9138211 C158.396086,73.7821138 155.79446,78.8813008 151.944053,82.3154472 C148.926167,85.0211382 146.116411,86.1658537 143.514785,85.6455285 C141.017224,85.1252033 138.935923,82.9398374 137.374947,78.8813008 C136.126167,75.6552846 135.501777,72.4292683 135.501777,69.4113821 C135.501777,66.8097561 135.709907,64.2081301 136.230232,61.8146341 C137.166817,57.5479675 138.935923,53.3853659 141.745679,49.4308943 C145.179825,44.3317073 148.822102,42.2504065 152.568443,42.9788618 C155.066004,43.499187 157.147305,45.6845528 158.708281,49.7430894 C159.957061,52.9691057 160.581451,56.195122 160.581451,59.2130081 C160.685516,61.9186992 160.373321,64.5203252 159.852996,66.9138211 L159.852996,66.9138211 L159.852996,66.9138211 Z"
                          fill="#FFFFFF"
                          style="fill: #fff !important"
                        />
                      </g>
                    </svg>
                  </li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://www.fajaskorly.com.co/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/korly.png"
                alt="Tienda virtual Fajas Korly"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://www.fajaskorly.com.co/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://hotelsantris.com.co/"
                  target="_blank"
                  >Sitio web Hotel Santris</a
                >
              </h5>
              <span class="fw-0"
                >Sitio oficial de hotel ubicado en Duitama, Boyacá -
                Colombia</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 447.674 447.674"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zM36.548 223.837c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zM386.833 131.547c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://hotelsantris.com.co/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/santris.png"
                alt="Sitio web Hotel Santris"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://hotelsantris.com.co/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://hotelvillasofia.com.co/"
                  target="_blank"
                  >Sitio web Hotel Villa Sofía</a
                >
              </h5>
              <span class="fw-0"
                >Sitio oficial de hotel ubicado en Nobsa, Boyacá -
                Colombia</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 447.674 447.674"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zM36.548 223.837c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zM386.833 131.547c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://hotelvillasofia.com.co/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/hotelvillasofia.png"
                alt="Web Application"
                
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://hotelvillasofia.com.co/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-sm-6 col-lg-4 item-portafolio aos-init aos-animate"
        data-aos="fade-right"
        data-aos-duration="1200"
      >
        <div class="portafolio-container mx-3" style="padding: 1.5em">
          <div class="portafolio-img">
            <div class="portafolio-info" style="padding-bottom: 1.5em">
              <h5>
                <a
                  rel="noopener"
                  href="https://www.oftalmologiasalgado.com/"
                  target="_blank"
                  >Sitio Oftalmología Salgado</a
                >
              </h5>
              <span class="fw-0"
                >Sittio web de centro médico especializado en
                oftalmología.</span
              >
              <span class="fw-0">
                <ul
                  class="d-flex flex-wrap justify-content-start icons-seccion mt-3"
                >
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 447.674 447.674"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 25px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          d="M134.289 138.16h-24.722l67.399 190.521 37.732-107.825-29.254-82.696H159.36v-18.154h115.508v18.154h-27.049l67.398 190.521 24.227-69.234c31.781-88.702-26.048-116.333-26.048-136.129s16.048-35.843 35.843-35.843c1.071 0 2.111.058 3.13.153-33.541-31.663-78.768-51.08-128.534-51.08-65.027 0-122.306 33.146-155.884 83.458h66.336v18.154h.002zM36.548 223.837c0 71.704 40.302 133.986 99.483 165.458l-84.52-238.919c-9.628 22.556-14.963 47.385-14.963 73.461zM386.833 131.547c2.679 15.774 1.868 33.503-2.243 51.301h.745l-2.832 8.092c-1.678 5.843-3.791 11.82-6.191 17.693l-64.444 180.541c59.057-31.51 99.256-93.725 99.256-165.338 0-33.557-8.834-65.048-24.291-92.289z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M166.075 402.033c18.195 5.894 37.603 9.091 57.762 9.091 19.228 0 37.777-2.902 55.239-8.285l-54.784-154.862-58.217 154.056z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                        <path
                          d="M382.113 65.56C339.836 23.283 283.625 0 223.836 0S107.837 23.283 65.56 65.56 0 164.047 0 223.837c0 59.789 23.283 115.999 65.56 158.276s98.488 65.56 158.277 65.56 115.999-23.283 158.277-65.56c42.277-42.277 65.56-98.488 65.56-158.276-.001-59.79-23.284-116-65.561-158.277zM223.836 431.883c-114.717 0-208.046-93.329-208.046-208.046S109.119 15.79 223.836 15.79s208.046 93.33 208.046 208.047-93.328 208.046-208.046 208.046z"
                          fill="#00769d"
                          data-original="#00769d"
                        ></path>
                      </g>
                    </svg>
                  </li>
                  <li class="mx-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      
                      width="512"
                      height="512"
                      x="0"
                      y="0"
                      viewBox="0 0 512 512"
                      style="
                        enable-background: new 0 0 512 512;
                        height: 30px;
                        width: auto;
                      "
                      xml:space="preserve"
                    >
                      <g>
                        <path
                          fill="#001834"
                          d="M90.667 6.4h330.667C471.467 6.4 512 46.933 512 97.067v317.867c0 50.133-40.533 90.667-90.667 90.667H90.667C40.533 505.6 0 465.067 0 414.933V97.067C0 46.933 40.533 6.4 90.667 6.4z"
                          data-original="#001834"
                        ></path>
                        <g fill="#00a9ff">
                          <path
                            d="M115.2 356.48V136.96c0-1.493.64-2.347 2.133-2.347 3.627 0 7.04 0 11.947-.213 5.12-.213 10.453-.213 16.213-.427s11.947-.213 18.56-.427c6.613-.213 13.013-.213 19.413-.213 17.493 0 32 2.133 43.947 6.613 10.667 3.627 20.48 9.6 28.587 17.493 6.827 6.827 12.16 15.147 15.573 24.32 3.2 8.96 4.907 18.133 4.907 27.733 0 18.347-4.267 33.493-12.8 45.44s-20.48 20.907-34.347 26.027c-14.507 5.333-30.507 7.253-48 7.253-5.12 0-8.533 0-10.667-.213-2.133-.213-5.12-.213-9.173-.213v68.48c.213 1.493-.853 2.773-2.347 2.987H117.76c-1.707 0-2.56-.853-2.56-2.773zm46.507-180.693v71.68c2.987.213 5.76.427 8.32.427h11.307c14.731 0 31.744-3.462 42.026-15.146 8.849-10.056 8.874-29.998 1.707-40.96-8.508-13.013-25.522-16.783-40.107-16.427-5.547 0-10.453 0-14.507.213-4.266-.214-7.253-.001-8.746.213zM409.6 234.453c-6.4-3.413-13.227-5.76-20.48-7.253-7.893-1.707-15.787-2.773-23.893-2.773-4.267-.213-8.747.427-12.8 1.493-2.773.64-5.12 2.133-6.613 4.267-1.067 1.707-1.707 3.84-1.707 5.76s.853 3.84 2.133 5.547c1.92 2.347 4.48 4.267 7.253 5.76 4.907 2.56 10.027 4.907 15.147 7.04 11.52 3.84 22.613 9.173 32.853 15.573 7.04 4.48 12.8 10.453 16.853 17.707 3.413 6.827 5.12 14.293 4.907 21.973.213 10.027-2.773 20.053-8.32 28.373-5.973 8.533-14.293 15.147-23.893 18.987-10.453 4.48-23.253 6.827-38.613 6.827-9.813 0-19.413-.853-29.013-2.773a86.055 86.055 0 0 1-21.76-6.827c-1.493-.853-2.56-2.347-2.347-4.053v-37.12c0-.64.213-1.493.853-1.92s1.28-.213 1.92.213c8.32 4.907 17.067 8.32 26.453 10.453 8.107 2.133 16.64 3.2 25.173 3.2 8.107 0 13.867-1.067 17.707-2.987 3.413-1.493 5.76-5.12 5.76-8.96 0-2.987-1.707-5.76-5.12-8.533s-10.453-5.973-20.907-10.027c-10.88-3.84-20.907-8.96-30.293-15.36-6.613-4.693-12.16-10.88-16.213-18.133-3.413-6.827-5.12-14.293-4.907-21.76 0-9.173 2.56-17.92 7.253-25.813 5.333-8.533 13.227-15.36 22.4-19.627 10.027-5.12 22.613-7.467 37.76-7.467 8.747 0 17.707.64 26.453 1.92 6.4.853 12.587 2.56 18.347 4.907.853.213 1.707 1.067 2.133 1.92.213.853.427 1.707.427 2.56v34.773c0 .853-.427 1.707-1.067 2.133-1.919.427-2.986.427-3.839 0z"
                            fill="#00a9ff"
                            data-original="#00a9ff"
                          ></path>
                        </g>
                      </g>
                    </svg>
                  </li>
                </ul>
              </span>
            </div>
            <a
              rel="noopener"
              href="https://www.oftalmologiasalgado.com/"
              class="gallery-link w-100"
              target="_blank"
            >
              <img
                src="/src/oftalmologiasalgado.png"
                alt="Web Application"
                style="
                  width: 100%;
                  max-height: 400px;
                  object-fit: cover;
                  object-position: top;
                "
              />
            </a>
            <a
              rel="noopener"
              href="https://www.oftalmologiasalgado.com/"
              class="portfolio-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="fas fa-link"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="testimonials container"
  data-bs-ride="true"
  data-aos="fade-right"
  data-aos-duration="1000"
>
  <div
    class="row justify-content-center testimonial"
    style="padding: 6em 0 6em; flex-wrap: nowrap"
  >
    <div class="m-4 flex-wrap">
      <div class="pl-4 testimonials-info">
        <p class="fw-0">
          Un gran activo para la compañía con talento innato, autodidacta y
          comprometido, que aporta a la solución de los retos presentados
          durante el desarrollo de los proyectos digitales en los que ha
          sido involucrado. Buenas bases de conocimiento y dominio de
          lenguajes.
        </p>
        <h6 class="fw-2">
          Jose Ignacio Dueñas Alonso - Gerente qits.com.co
        </h6>
        <h6 class="fw-1" style="font-size: 1em">
          PHP Senior | Webmaster | Digital Strategy Consultant | SEO
        </h6>
      </div>
    </div>
  </div>
</section>