/*-------GENERALES-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html .seccion-disabled{
    display: none;
}

html .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl, html .row{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

html{
    scroll-behavior: smooth;
}

#acercaDe, #servicios, #portafolio, #blog, #contacto{
    scroll-margin-top: 95px;
}

*, *:after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root{
    --font: 'Inter', sans-serif;
    --fontTwo: 'Poppins', sans-serif;
    --primary: #027e9d;
    --secondary: #f0f9ff;
    --black: #101725;
}

html #servicios svg path, html .skill-secccion svg path{
    color: var(--primary);
    fill: var(--primary);
}

html .enlace-bg-black{
    color: #fff;
}

html .enlace-bg-black:hover{
    color: var(--primary);
}

html .height-col-100{
    min-height: 100% !important;
}

.fw-0{
    font-weight: 300 !important;
}

.fw-1{
    font-weight: 400 !important;
}

.fw-2{
    font-weight: 500 !important;
}

.fw-3{
    font-weight: 600 !important;
}

html img{
    max-width: 100%;
}

html .border-primary{
    border-color: var(--primary) !important;
    opacity: 1 !important;
}

html .border-black{
    border-color: var(--black) !important;
    opacity: 1 !important;
}

html .text-white{
    color: #ffff;
}

html .text-primary{
    color: var(--primary) !important;
}

html .text-secondary{
    color: var(--secondary) !important;
}

html .text-info{
    color: var(--black) !important;
}

html .bg-primary{
    background-color: var(--primary) !important;
}

html .bg-secondary{
    background-color: var(--secondary) !important;
}

html .bg-info{
    background-color: var(--black) !important;
}

html .bg-white{
    background-color: #ffffff !important;
}

html .button-primary{
    background-color: var(--primary);
    color: #ffff;
    border: 1px solid var(--primary);
    padding: 0.8em 1em;
    border-radius: 0;
}

html .button-primary:hover{
    background-color: rgba(0, 0, 0, 0);
    color: var(--primary);
}

html body{
    font-family: var(--fontTwo);
}

html ul{
    list-style: none !important;
    padding-left: 0 !important;
}

html a{
    text-decoration: none;
    color: var(--black);
}

html a:hover{
    color: var(--primary);
}

html .bi {
    vertical-align: 0.17em !important;
    fill: currentColor !important;
}

/*-----Animación de carga-------*/
.logo-carga{
    max-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#contenedor-carga{
    background-color: var(--black);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 2px solid;
    max-height: 400px;
    max-width: 400px;
    border-top-color: var(--primary);
    border-top-style: groove;
    border-bottom-color: var(--primary);
    border-bottom-style: groove;
    border-left-color: var(--primary);
    border-left-style: groove;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: groove;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 3s linear infinite;
    -webkit-animation: girar 3s linear infinite;
    -o-animation: girar 3s linear infinite;
}

@media (max-width: 767px) {
    .logo-carga{
        max-height: 100px;
        max-width: 400px;
    }

    #carga{
        max-height: 380px;
        max-width: 380px;
        border-radius: 100%;
    }
}

@keyframes girar{
    0%{transform: rotate(0deg);}

    100%{transform: rotate(360deg);}
} 

/*--------------HOME-------------*/

/*----HEADER-------*/
#video-banner{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
}

html .offcanvas-backdrop{
    display: none;
}

.offcanvas {
    transition: .5s;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn-close{
    background: transparent;
    color: #fff;
    width: 100%;
}

.header{
    background-color: rgba(16, 23, 37, .8);
}

html .header .site-title{
    font-size: 35px !important;
}

html .header .offcanvas .nav-link:hover{
    color: var(--primary) !important;
    font-weight: 500 !important;
}

html .header .offcanvas .active{
    color: var(--primary) !important;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 500 !important;
}

@media (min-width: 1024px) {
    .menu-cerrar{
        display: none;
    }
}

@media (max-width: 767px) {
    .logo-default{
        max-height: 50px !important;
    }

    .testimonial{
        padding: 6em 0 0 0 !important;
        margin: auto;
    }

    #contacto{
        padding: 0 !important;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.text-big{
  font-size: 60px;
  font-weight: 500;
}

.contenedor{
    overflow: hidden;
    height: 45px;
}

.contenedor ul{
    animation: cambiar 10s infinite;
}

@keyframes cambiar{
    0%{margin-top: 0;}
    20%{margin-top: 0;}

    20%{margin-top: -45px;}
    40%{margin-top: -45px;}

    40%{margin-top: -90px;}
    60%{margin-top: -90px;}

    60%{margin-top: -45px;}
    80%{margin-top: -45px;}

    80%{margin-top: 0px;}
    100%{margin-top: 0px;}
}

.titles-header .nav-item{
    background-color: #ffff;
    border-radius: 50%;
}

.titles-header .nav-item:hover{
    background-color: var(--primary);
}

.titles-header .nav-item .icono{
    color: var(--black);
}

.titles-header .nav-item:hover .icono{
    color: #ffff;
}

@media (max-width: 1024px) {
    .contenedor{
        overflow: hidden;
        height: 35px;
    }

    @keyframes cambiar{
        0%{margin-top: 0;}
        20%{margin-top: 0;}
    
        20%{margin-top: -40px;}
        40%{margin-top: -40px;}
    
        40%{margin-top: -80px;}
        60%{margin-top: -80px;}
    
        60%{margin-top: -40px;}
        80%{margin-top: -40px;}
    
        80%{margin-top: -40px;}
        90%{margin-top: -40px;}
    }
}

.text-scroll{
    font-size: 18px;
    font-weight: 300;
    transition: .3s;
    padding: 1em;
}

html .text-scroll:hover{
    color: var(--primary) !important;
    letter-spacing: .3em;
}

html .navbar-toggler{
    border-radius: 0 !important;
    border: none;
}

html .navbar-toggler:focus{
    border-radius: 0 !important;
    border: none;
    box-shadow: none;
}

html .navbar-toggler:focus i{
    color: var(--primary);
}

.main-menu .logo-pegajoso{
    display: none;
}

.pegajoso .logo-pegajoso{
    display: inline-block;
}

.main-menu .logo-default{
    display: inline-block;
}

.pegajoso .logo-default{
    display: none;
}

.pegajoso{
    position: fixed;
    min-width: 100%;
    margin: auto !important;
    background-color: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
    z-index: 800;
    transition: .7s;
}

.pegajoso .menu-pegajoso{
    width: 85%;
    margin: auto !important;
}

.pegajoso .menu-pegajoso .nav-item .nav-link{
    color: var(--black) !important;
    font-weight: 300;
}

.pegajoso .menu-pegajoso .nav-item .active{
    color: var(--primary) !important;
}

@media (max-width: 1024px) {
    .main-menu .logo-pegajoso{
        display: none;
    }
    
    .pegajoso .logo-pegajoso{
        display: none;
    }
    
    .main-menu .logo-default{
        display: inline-block;
    }
    
    .pegajoso .logo-default{
        display: inline-block;
    }

    .pegajoso{
        max-width: 100%;
        margin: auto !important;
        background-color: var(--black);
    }

    .pegajoso .btn-close .navbar-toggler i{
        color: var(--primary);
    }

    .pegajoso .menu-pegajoso .nav-item .nav-link{
        color: #fff !important;
        font-weight: 300;
    }

    .pegajoso .menu-pegajoso .nav-item .active{
        color: var(--primary) !important;
        font-weight: 300;
    }
}

/*-----------ABOUT-----------*/

.img-about{
    margin: auto 0;
    margin-right: -8em;
}

.info-about{
    padding: 0 4em 0 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-about{
    font-size: 50px;
}

html .separador{
    border-color: var(--primary);
    opacity: 1;
}

html .separador-title{
    width: 25%;
}

html .buttons-about .nav-item .icono{
    color: var(--black);
}

html .buttons-about .nav-item .icono:hover{
    color: var(--primary);
}

@media (max-width: 1024px) {
    .about {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto !important;
    }

    .about .col-1-about{
        display: none !important;
    }

    .about .col-1-about .img-about{
        margin: 2em auto;
        width: 80%;
    }

    .about .col-2-about{
        width: 100%;
        padding: 2em;
        margin: 0;
    }

    .about .separador-cv{
        display: none;
    }

    .about .boton-about{
        width: 50%;
    }

    .about .social-about{
        width: 50%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 1024px) {
    .about .col-2-about{
        padding: 4em;
    }
}

@media (max-width: 767px) {
    .about .col-2-about{
        padding: 2em;
    }
}

.boton-servicios{
    position: relative;
    top: -5.3em;
    margin-bottom: -5em;
}

/*---------SERVICIOS-------*/

.card-service{
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    padding: 40px 30px;
    position: relative;
    transition: all .35s ease;
    top: 0;
    z-index: 1;
}

.card-service .icon{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--primary);
    transition: .5s ease-in-out;
}

.card-service h6 {
    font-weight: 700;
    position: relative;
    color: var(--primary);
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 15px;
    z-index: 1;
}

.card-service h5 {
    font-weight: 600;
    color: var(--black);
    margin-bottom: 15px;
}

.card-service p{
    color: #5e6472;
}

.card-service:hover h6:after {
    background: #fff;
}
.card-service h6:after {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    width: 5px;
    height: 100%;
    background: var(--primary);
}

.card-service:hover {
    top: -5px;
}

.card-service:hover:before {
    height: 100%;
    opacity: 1;
    top: 0;
    bottom: auto;
}
.card-service:before {
    top: auto;
    right: 0;
    border-left: 5px solid var(--primary);
    border-right: 5px solid var(--primary);
    height: 0;
}

.card-service:after, .card-service:before {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    pointer-events: none;
}

.after-left-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 40%;
    background: var(--primary);
    z-index: -1;
}

.card-service:hover:after {
    width: 100%;
    opacity: 1;
    left: auto;
    right: 0;
}

.card-service:after, .card-service:before {
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
    pointer-events: none;
}

.card-service:after {
    top: 0;
    right: auto;
    border-top: 5px solid var(--primary);
    border-bottom: 5px solid var(--primary);
    width: 0;
}

html .g-4, .gy-4 {
    --bs-gutter-y: 1.5rem !important;
}

html .services .row{
    --bs-gutter-x: 1.5rem;
}

html .card-service{
    min-height: 100%;
}

@media (max-width: 1024px) {
    html #servicios .container{
        width: 90% !important;
    }

    html #servicios .container .text-center p{
        width: 98% !important;
    }

    html #portafolio .container{
        width: 90% !important;
    }

    html #portafolio .container .text-center p{
        width: 98% !important;
    }

    html #blog .container{
        width: 90% !important;
    }

    html #blog .container .text-center p{
        width: 98% !important;
    }

    html .testimonials .row{
        width: 90%;
        flex-wrap: wrap !important;
    }

    .after-left-section:after {
        width: 0;
    }
}

.skill-secccion .aducation-box li+li {
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.skill-secccion .experience-box li+li {
    padding-top: 25px;
    margin-top: 20px;
    border-top: 1px dashed rgba(2, 126, 156, 0.2);
}

html .icons-seccion li+li{
    padding-top: 0 !important;
    margin-top: 0 !important;
    border-top: 0 dashed rgba(2, 126, 156, 0) !important;
}

@media (max-width: 767px) {
    html .skill-secccion .container{
        padding: 4em 0 !important;
        width: 80%;
        margin: auto;
    }

    html .skill-secccion .container ul{
        margin: 0 !important;
    }
}


html .tabs-portafolio .active{
    background-color: rgba(0, 0, 0, 0) !important;
    color: var(--primary) !important;
}

html .tabs-portafolio a:hover{
    color: var(--primary) !important;
}

.portafolio-container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    margin: 15px 0;
    position: relative;
}

.portafolio-container .portafolio-img h5:hover a {
    transition: .3s;
}

.portafolio-container .portafolio-img h5:hover a {
    color: var(--primary) !important;
    letter-spacing: .5px !important;
}

.portafolio-container:hover .portafolio-img h5 a {
    color: var(--primary) !important;
}

.portafolio-container:hover .portafolio-info {
    -webkit-animation: slideTop .7s ease-in-out 0s 1 normal none running;
    animation: slideTop .7s ease-in-out 0s 1 normal none running;
}

.portafolio-container:hover .portafolio-info {
    position: relative;
    z-index: 1;
}
.portafolio-container .portafolio-info {
    padding-bottom: 20px;
}

@keyframes slideTop {
    0%{
        opacity: 0;
        bottom: -2em;
    }
    100%{
        bottom: 0em;
    }
}

html .portafolio-container .gallery-link {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer!important;
}

.portafolio-container:hover .gallery-link img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.portafolio-container .gallery-link img {
    transition: .6s;
}
.portafolio-container img {
    margin: auto;
    display: block;
}

.portafolio-container:hover .gallery-link:after {
    bottom: auto;
    top: 0;
    height: 100%;
}
.portafolio-container .gallery-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: all .55s ease;
    background: rgba(2,126, 157,.8);
    pointer-events: none;
}

.portafolio-container .portfolio-icon {
    position: absolute;
    bottom: 36px;
    right: 36px;
    transition: all .55s ease;
    opacity: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    line-height: 55px;
    background: #fff;
    text-align: center;
    color: var(--primary);
    text-decoration: none;
    font-size: 26px;
}

.portafolio-container .portfolio-icon i {
    font-weight: 600;
}

.portafolio-container:hover .portfolio-icon {
    opacity: 1;
}

html #portafolio .row {
    --bs-gutter-x: 1.5rem;
}

.testimonials .img-testimonials {
    width: 30%;
    padding: 0 15px 15px;
    position: relative;
}

.testimonials .img-testimonials:after {
    content: "";
    position: absolute;
    bottom: 5px;
    top: 15px;
    left: 5px;
    right: 30px;
    z-index: -1;
    border: 2px solid var(--primary);
}

.blog-post .blog-img {
    position: relative;
    overflow: hidden;
}

.blog-post .data {
    position: absolute;
    top: 20px;
    left: 10px;
    background: #fff;
    padding: 8px 10px;
    line-height: 1;
    text-align: center;
    z-index: 1;
}

.blog-post:hover .blog-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blog-post .blog-img img {
    transition: all .35s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    cursor: pointer;
}

.blog-post .data small {
    font-size: 13px;
    text-transform: uppercase;
    color: #5e6472;
    margin-top: 7px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.blog-post .data span {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 25px;
    line-height: 1;
    margin: 0;
    color: #1c1d24;
}

.blog-post .blog-info {
    padding: 20px;
    margin: -30px 10px 0;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;
    background: #fff;
}

.blog-post .blog-info h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 1.3;
    color: var(--black);
    cursor: pointer;
    transition: .3s;
}

.blog-post .blog-info h6:hover {
    color: var(--primary);
}

.blog-post .blog-info p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 12px;
    font-weight: 300;
}

.blog-post .blog-info .btn-bar {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1rem;
    transition: .3s;
    cursor: pointer;
}

.blog-post .blog-info .btn-bar:hover {
    color: var(--primary);
    text-decoration: underline;
}

html #blog .row {
    --bs-gutter-x: 1.5rem;
}

@media (max-width: 767px) {
    html .testimonials .row .img-testimonials{
        width: 70%;
        margin: auto;
        margin-bottom: 3em;
    }

    html .testimonials .row .testimonials-info{
        text-align: center;
        padding-left: 0;
    }
}

.after-left-section {
    position: relative;
}

.after-left-section .container {
    position: relative;
    z-index: 2;
}

#contacto{
    padding: 100px 0;
}

.contct-form {
    background: #fff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    position: relative;
    overflow: hidden;
    padding: 35px;
}

.sm-title h4 {
    color: var(--black);
    font-size: 24px;
    position: relative;
    padding: 0 0 15px;
    margin: 0;
    font-weight: 500;
}

.contct-form .form-group {
    margin-bottom: 30px;
    position: relative;
}

.contct-form .form-group .form-control {
    border-radius: 0;
    border: 1px solid rgba(28,29,36,.5);
    height: 40px;
    box-shadow: none!important;
    font-size: 15px;
    color: #1c1d24;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

.contct-form .form-group .form-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #777;
    padding: 0 10px;
    pointer-events: none;
    transition: all .35s ease;
    background: #fff;
}

.contct-form .form-group textarea.form-control {
    height: inherit;
}
.contct-form .form-group .form-control {
    border-radius: 0;
    border: 1px solid rgba(28,29,36,.5);
    height: 40px;
    box-shadow: none!important;
    font-size: 15px;
    color: #1c1d24;
}

#contacto .row > * {
    box-sizing: border-box;
    max-width: 100%;
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
    margin-top: 0;
}

.title-form{
    padding-right: calc(1.5rem * 0.5);
    padding-left: calc(1.5rem * 0.5);
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.sm-title p {
    margin: 15px 0 20px;
}

.media {
    display: flex!important;
    align-items: center !important;
    margin-bottom: 1.5em;
}

.contact-info .media .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(2, 126, 157,.1);
    color: var(--primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.contact-info .media .media-body {
    padding-left: 15px;
    color: #1c1d24;
}

.media-body {
    flex: 1 1;
}

@media (max-width: 767px) {
    .contct-form {
        background: #fff;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0%);
        position: relative;
        overflow: hidden;
        padding: 35px 0;
    }

    .contacto-col-2{
        width: 95%;
        margin: auto;
    }

    .navbar-brand img{
        margin: 0.5em;
    }

    .navbar-nav{
        height: 100%;
        justify-content: start !important;
        gap: 2em;
    }
}

.icons-footer li a{
    color: #fff;
}

.icons-footer li:hover a{
    color: var(--primary);
}

.text-footer{
    color: #fff;
    font-weight: 300;
}

.text-footer a{
    color: #fff;
    font-weight: 300;
}

@media (max-width: 767px) {
    footer .footer-flex{
        flex-direction: column;
    }
}